@use '_variables' as *;

.post {
    &__block {
        &:has(h2) {
            margin-top: 60px;

            @media (min-width: $break_xl) {
                margin-top: 90px;
            }
        }

        &:not(:has(h2)) {
            margin-top: 30px;
        }
    }

    &__header {
        position: relative;
    }

    &__cover {
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: flex-end;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 10px;
        height: 582px;
    }

    &__head-img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        color: var(--white);
        z-index: 1;
        padding-bottom: 60px;

        font-size: 26px;
        font-weight: 600;
        position: relative;
        margin-bottom: 0;

        @media (min-width: $break_md) {
            font-size: 36px;
        }

        @media (min-width: $break_xl) {
            padding-bottom: 112px;
        }
    }

    &__excerpt {
        margin-bottom: 53px;
        font-size: 20px;
        font-weight: 400;
        line-height: 1.33;
        color: var(--black);
    }

    &__date {
        margin-bottom: 40px;
        display: block;
    }

    &__block-image-with-text {
        position: relative;

        @media (min-width: $break_lg) {
            display: flex;
            gap: 15px;
        }

        @media (min-width: $break_xl) {
            gap: 30px;
        }

        .post__block-image {
            margin-bottom: 30px;

            @media (min-width: $break_lg) {
                margin-bottom: 0;
            }
        }
    }

    &__block-image {
        min-height: 316px;
        width: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        position: relative;

        @media (min-width: $break_lg) {
            width: 50%;
        }

        & img {
            width: 100%;
            height: unset;
            object-fit: cover;

            @media (min-width: $break_lg) {
                position: absolute;
            }
        }
    }

    &__heading {
        font-size: 30px;
        line-height: 1.33;
        font-weight: 600;
        color: var(--black);
    }

    &__block-text {
        font-size: 16px;
        font-weight: 300;
        margin-bottom: 30px;
        color: var(--lightGray);
        line-height: 1.6;

        &_image {
            margin-bottom: 0;

            @media (min-width: $break_lg) {
                width: 50%;
            }
        }
    }

    &__quote {
        position: relative;
        padding-left: 48px;
    }

    &__quote p, &__callout, &__list-item {
        font-size: 16px;
        font-weight: 300;
        line-height: 1.6;
        color: var(--lightGray);
    }
    
    &__quote-svg {
        display: block;
        position: absolute;
        left: 0;
    }

    &__callout {
        color: var(--lightGray);
        padding-left: 11px;
        position: relative;

        &::before {
            content: "";
            width: 1px;
            background-color: var(--lightGray);
            position: absolute;
            left: 0;
            top: 0;
            height: 96px;
            max-height: 76%;

            @media (min-width: $break_md) {
                width: 3px;
            }
        }

        @media (min-width: $break_md) {
            padding-left: 34px;
        }
    }

    &__list {
        &:is(ol) {
            counter-reset: ol-counter;

            li {
                &::before {
                    content: counter(ol-counter) ".";
                    counter-increment: ol-counter;
                    background-color: transparent;
                    width: auto;
                    height: auto;
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    &__list-item {
        padding-left: 25px;
        position: relative;
        
        &::before {
            content: "";
            width: 5px;
            height: 5px;
            background-color: var(--lightGray);
            display: block;
            border-radius: 9999px;
            position: absolute;
            left: 10px;
            top: 10px;
        }

        & + & {
            margin-top: 10px;
        }
    }

    &__item-content {

    }

    &__two-images {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }

    &__two-images-image {
        @media (min-width: $break_md) {
            width: calc(50% - 15px);
        }
    }
}