@use '_variables' as *;

.nav {
    color: red;

    &__list {
        @media (min-width: $break_xl) {
            display: flex;
            align-items: center;
        }
    }

    &__item {
        text-align: center;

        & + & {
            margin-top: 30px;

            @media (min-width: $break_xl) {
                margin-top: 0;
                margin-left: 57px;
            }
        }
    }

    &__link {
        font-size: 16px;
        color: var(--lightGray);
        line-height: 1.6;
        text-decoration: none;
        transition: all .3s ease;

        &:hover {
            color: var(--keppel);
        }

        @media (min-width: $break_md) {
            font-size: 20px;
        }

        @media (min-width: $break_xl) {
            font-size: 24px;
        }
    }
}