.contacts {
    &__link-title, &__link-subtitle {
        text-decoration: none;
        color: var(--black);
    }

    &__link-title {
        font-size: 18px;
        font-weight: 800;
        line-height: 1.52;
        margin-bottom: 1px;
        white-space: nowrap;
    }

    &__link-subtitle {
        font-size: 16px;
        font-weight: 300;
        color: var(--lightGray);
    }

    &__item {
        display: flex;
        flex-direction: column;
        text-align: center;

        a {
            transition: all .3s ease;
        }

        &:hover {
            .contacts__link-title, .contacts__link-subtitle {
                color: var(--indigo);
            }
        }
    }
}