@use '_variables' as *;

.main {
    &__cargo-calc-button {
        width: 100%;
        font-weight: 400;
        height: 64px;

        @media (min-width: $break_md) {
            position: fixed;
            right: -178px;
            left: auto;
            transform: TranslateX(-50%) rotate(-90deg);
            width: auto;
            top: 50%;
            bottom: 50%;
            height: 52px;
            padding-top: 0;
            padding-bottom: 0;
        }

        @media (min-width: $break_xl) {
            display: none;
        }
    }
}